@model planning.Models.Incident

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlannedFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncidentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
